
* {
    box-sizing: border-box;
}

body {
    background-color: #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    width: 95vh;
    height: 95vh;
    background-color: #000;
}

#monitor {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
}

#sidebar {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}
