body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#canvas {
    width: 750px;
    height: 750px;
    border: 2px solid black;
}

input:first-of-type, label:first-of-type {
    margin-top: 0.8rem;
}

input,label {
    margin-bottom: 0.8rem;
}

p {
    text-align: center;
}

pre {
    max-width: max-content;
    margin: 0 auto;
    text-align: left;
}